@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap');

body {
	background-color: #ffffff;
	color: #000000;
	margin: 0px;
} a {text-decoration:none;}

#menu {
	background-color: #ffffff;
	padding-top:4mm;
	padding-bottom:4mm;
	font-family:'Audiowide';
	font-size:4mm;
	color:#4a95bf;
}
	#menu_prt1 {
		max-width: 300mm;
		width:98%;
		margin:auto;
		margin-bottom:4mm;
	}
		#menu_prt1 > a {
			color:#4a95bf;
		}
	#menu_prt2 {
		display:flex;
		justify-content: space-between;
		max-width: 300mm;
		width:98%;
		margin:auto;
	}
		#menu_prt2_itm1 {
			flex-grow:1
		}
			#txt1 {
				font-weight:900;
				font-size:5mm;
			}
			#txt2 {
				font-weight:900;
				font-size:5mm;
				
				padding-right:4mm;
			}
			#txt3 {
				color:#000000;
			}
		#menu_prt2_itm2 {
			margin-left:8mm;
			flex-grow:0;
			display:flex;
		}
			#dsplaySizeButton {
				color:#ffffff;
				background:#4a95bf;
				padding:2mm;
				padding-left:6mm;
				padding-right:6mm;
				border-radius:1mm;
			} #dsplaySizeButton:active {background:#000000;}

hr {
	max-width: 300mm;
	width:98%;
	height:1px;
	border-radius:2mm;
	color:#000000;
	background-color:#000000;
	border:0px solid #000000;
}

		
#dscr {
	max-width: 200mm;
	width:98%;
	margin:auto;
	margin-top: 64px;
	font-family:'JetBrains Mono';
	text-align:center;
	color:#000000;
}

#cntn {
	display:flex;
	max-width: 300mm;
	width:98%;
	margin:auto;
	margin-top: 64px;
	justify-content: space-between;
	margin-bottom: 64px;
} #cntn * {font-family:'JetBrains Mono';}
	#cntn_sde1 {
		width:49%;
		text-align:center;
		max-width:150mm;
	}
		#cntn_sde1_txt1 {
			width:98%;
			margin:0px;
			margin-bottom:2mm;
			height:40mm;
		} textarea {background-color:#ffffff; color:#444444; padding:2mm; border-radius:1mm;
			border:1px solid #000000;}
		#cntn_sde1_txt2 {
			width:98%;
			margin:0px;
			margin-bottom:8mm;
			height:40mm;
		}
		#cntn_sde1_itm3 {
			width:98%;
			display:block;
			text-align:center;
			margin:0px;
			margin-bottom:2mm;
			color:#000000;
		}
			#cntn_sde1_itm3 #tkn1 {
				display:block;
			}
			#cntn_sde1_itm3 #tkn3 {
				padding-left:2mm;
				padding-right:2mm;
			}
			
	#cntn_sde2 {
		width:49%;
		text-align:center;
		max-width:150mm;
	}
		#cntn_sde2_itm0 {
			display:none;
		}
		#cntn_sde2_itm1 {
			width:95%;
			margin:auto;
			height:88mm;
			margin-bottom:8mm;
			border:1px solid #444444;
		}
		#cntn_sde2_itm2 {
			display:block;
			width:98%;
			display:flex;
			justify-content: space-around;
		}
			#btn1 {
				width:45%;
				height:12mm;
			} button {border:0mm solid #222222; background-color:#4a95bf; border-radius:1mm;
				font-weight:900; font-size:4mm; color:#ffffff;
				} button:active {background-color:#000000;}
			#btn2 {
				width:45%;
				height:12mm;
			}
