@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');

#cntn {
	display:block;
	color:#808080;
	padding-top:26mm;}
	#note {
		display:block;
		text-align:center;
		max-width:200mm;
		display:block;
		color:#404040;
		margin:auto;
		font-size:1mm;
		padding-top:6mm;
		margin-bottom:8mm;}
	#tool {
		display:flex;
		flex-direction:column;
		justify-content:space-between;}
		#sde1 {
			width:99%;
			text-align:center;
			margin-bottom:8mm;}
			#inpt {
				width:96%;
				padding:2%;
				height:32mm;
				color:#808080;
				border:1px solid #808080;
				border-radius:1mm;
				margin-bottom:2mm;} #inpt:focus {
					border:1px dashed red;
					box-shadow: 0px 1px #808080;}
			#kWrd {
				width:50%;
				padding:1%;
				color:#808080;
				border:1px solid #808080;
				border-radius:1mm;
				height:8mm;
				text-align:center;}
		#sde2 {
			width:99%;
			text-align:center;
			display:flex;
			margin-bottom:8mm;
			flex-direction:column;}
			#dnst {
				text-align:center;
				display:block;
				padding:1%;
				padding-left:0px;
				line-height:32mm;
				padding-right:0px;
				font-family:'Kelly Slab';
				margin-bottom:4mm;}
				#whle {
					padding:0px !important;
					line-height:32mm;
					padding-left:0px;
					font-weight:100;
					padding-right:0px;
					letter-spacing:0px;
					font-size:32mm;}
				#dcml {
					line-height:32mm;
					vertical-align:text-bottom;
					font-size:16mm;}
			#keys {
				width:100%;
				display:flex;
				justify-content:space-between;}
				#keys button {
					height:12mm;
					border:0px solid #c0c0c0;
					background-color:#7470e6;
					font-size:4mm;
					font-family:'JetBrains Mono';
					color:#ffffff;
					font-weight:400;
					border-radius:1mm;} #keys button:active {
						background:#000000 !important; color:#7470e6;}
				#gooo {
					padding:1%;
					width:50%;}
				#clar {
					padding:1%;
					width:49%;}
