body {
	margin:0px; } #body {
	margin:0px;
	padding:0px;
	margin:auto;
	font-family:'JetBrains Mono';}

#hder {
	background-color:#7470e6;
	color:#ffffff;
	padding-top:4mm;
	padding-left:4mm;
	padding-right:4mm;
	padding-bottom:6mm;
	border-radius:2mm;}
	#prfl {
		display:flex;
		justify-content:space-between;
		align-items:center;}
		#name {
			display:flex;
			align-items:center;
			margin-bottom:4mm;
			color:#7470e6;
			text-decoration:none;}
			#name > img {
				width:8mm;
				height:8mm;
				margin-right:4mm;}
			#name #text {
				color:#7470e6;
				font-size:6mm;
				font-weight:800;
				text-transform:uppercase;}
		#dSCB {
			margin-right:1mm;
			color:#7470e6;
			background-color:#ffffff;
			padding:2mm;
			padding-left:6mm;
			padding-right:6mm;
			border-radius:1mm;
			text-decoration:none;} #dSCB:active {background-color:#e6ad70;}
	#tNme {
		text-align:center;
		font-weight:800;
		text-transform:uppercase;
		display:flex;} #tNme > * {text-align:center; border-radius:2mm;}
		#tNme #prvs {
			color:#e0e0e0;
			width:25%;
			text-decoration:none;}
		#tNme #aInt {;
			width:50%;
			font-size:5mm;}
		#tNme #empt {
			width:25%;}
