#cntn {
	display:flex;
	justify-content:space-between;
	padding:0%;
	border-radius:2mm;} #cntn a {
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	font-size:2mm;
	color:#404040;
	border-radius:2mm;} #cntn a:hover {
		background:#000000 !important; color:#7470e6;} #cntn a:active {
		background:#000000 !important; color:#7470e6;}

	#bnd1 {
		width:49%;
		display:flex;
		flex-direction:column;}

		.grp1 {
			border-radius:2mm;}
			.grp1 > img {
				border-radius:1mm;
				width:60%;
				height:48mm;}
			.grp1 > p {}
			.grp1 > span {
				margin-left:2%;
				border-left:1mm solid #666666;
				text-align:center;
				width:39%;
				}
		.tam1 {
			background-color:#EEEEFC;
			border:2px solid #505050;
			font-weight:800;
			font-size:4mm !important;}

		.tam2 {
			background-color:#EEEEFC;
			border:2px solid #505050;
			font-weight:800;
			font-size:4mm !important;}

		#itm1 {
			width:98%;
			padding:1%;
			margin-bottom:2mm;
			display:flex;
			justify-content:space-between;
			align-items:center;
			background-color:#DAF0D0 !important;
			border:2px solid #77C954;}
			
		#pck1 {
			width:100%;
			margin:auto;
			display:flex;
			justify-content:space-between !important;
			margin-bottom:2mm;}
		#itm2 {
			width:49%;
			padding:0mm;
			padding-top:24mm;
			padding-bottom:24mm;
			background:url("xwBck0.png");
			background-size:cover;
			background-position: center;}
		#itm3 {
			width:49%;
			padding:0mm;
			padding-top:24mm;
			padding-bottom:24mm;
			background:url("xwBck0.png");
			background-size:cover;
			background-position: center;}

		#itm4 {
			width:98%;
			padding:1%;
			margin-bottom:2mm;
			display:flex;
			justify-content:space-between;
			align-items:center;
			background-color:#DAF0D0 !important;
			border:2px solid #77C954;}

	#bnd2 {
		width:50%;
		display:flex;
		flex-direction:column;}
		
		#pck2 {
			display:flex;
			justify-content:space-between;
			width:100%;
			margin-bottom:2mm;}

		.grp2 {
			padding:1%;
			padding-bottom:0mm;
			width:47%;
			display:flex;
			flex-direction:column;
			}
			.grp2 img {
				height:48mm;}
			.grp2 span {
				display:block;
				padding-top:13mm;
				padding-bottom:13mm;}

		#itm5 {
			border:1px solid #666666;
			border-radius:2mm 2mm 2mm 2mm !important;
			background-color:#CDEBF4 !important;
			border:2px solid #47B5D7;}

		#itm6 {
			border-radius:2mm 2mm 2mm 2mm !important;
			background-color:#CCF5D6 !important;
			border:2px solid #44DA69;}

		#pck3 {
			display:flex;
			justify-content:space-between;
			width:100%;}

		#itm7 {
			width:49%;
			padding:0mm;
			padding-top:36mm;
			padding-bottom:37mm;
			background:url("xwBck0.png");
			background-size:cover;
			background-position: center;}

		#itm8 {
			width:49%;
			padding:0mm;
			padding-top:36mm;
			padding-bottom:37mm;
			background:url("xwBck0.png");
			background-size:cover;
			background-position: center;}

#lne2 {
	margin-top:16mm;
	margin-bottom:16mm;
		height:1mm;
		color:#000000;
		background-color:#000000;
		border-radius:2mm;
		border:0px solid #000000;}
